 
  .c img{
    height: 550px;
  }
  .cb{
    height: 80px;
  }
  .cb p{

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

  }
  .col-sm-12::after{
    background-color: aqua;
  }
  .p{
    
    justify-content: center;
  }
 